html[lang="ar"] body .font_2.wixui-rich-text__text{
  direction: rtl !important;
}
html[lang="ar"] body .font_7.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .font_8.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .StylableHorizontalMenu3372578893__menu{
 direction: rtl !important;
}
html[lang="ar"] body #SITE_FOOTER .uUxqWY{
  direction: rtl !important;
}
html[lang="ar"] body .KaEeLN .StylableButton2545352419__label{
  direction: rtl !important;
  width: 100%;
  text-align: right;
}
html[lang="ar"] body fluid-columns-repeater .Z_l5lU.ku3DBC.zQ9jDz.qvSjx3.Vq6kJx.comp-m8sutaho__item-81b2e8a8-87af-4c89-b2fc-6b9653d243f2.wixui-rich-text .font_7.wixui-rich-text__text{
  text-align: right !important;
}
