html[lang="ar"] body .font_2.wixui-rich-text__text{
  direction: rtl !important;
}
html[lang="ar"] body .font_7.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .font_8.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .StylableHorizontalMenu3372578893__menu{
 direction: rtl !important;
}
html[lang="ar"] body #SITE_FOOTER .uUxqWY{
  direction: rtl !important;
}
html[lang="ar"] body .KaEeLN .StylableButton2545352419__label{
  direction: rtl !important;
  width: 100%;
  text-align: right;
}
html[lang="ar"] body [id^="comp-m8sutaho__"] > .font_7.wixui-rich-text__text{
  text-align: left !important;
}
html[lang="ar"] body  #comp-m8ssk5lc3 .StylableButton2545352419__label.wixui-button__label{
  direction: rtl !important;
}
html[lang="ar"] body #comp-m2bt590p, html[lang="ar"] body #comp-m2btiu1b, html[lang="ar"] body #comp-m2buga86, html[lang="ar"] body #comp-m2bv8mfp, html[lang="ar"] body #comp-m2bw4vx8{
  display: none !important;
}
html[lang="ar"] body #comp-m5xmr5au .font_3.wixui-rich-text__text{
  direction: rtl !important;
}
html[lang="ar"] body #SITE_FOOTER .font_9.wixui-rich-text__text{
  text-align: right !important;
}
html[lang="ar"] body #SITE_FOOTER  #comp-klmlee8x *, html[lang="ar"] body  #SITE_FOOTER  #comp-klml99ce *{
  text-align: right !important;
  width:100%;
}
html[lang="ar"] body #SITE_FOOTER #comp-klmlee8x, html[lang="ar"] body #SITE_FOOTER #comp-lvqywt32, html[lang="ar"] body #SITE_FOOTER #comp-lmq31wcy, 
html[lang="ar"] body #SITE_FOOTER #comp-lmq33lbt, html[lang="ar"] body #SITE_FOOTER #comp-lmq34lky, html[lang="ar"] body #SITE_FOOTER #comp-loeozlfh,
html[lang="ar"] body #SITE_FOOTER #comp-loep3p4t, html[lang="ar"] body #SITE_FOOTER #comp-loep4hxp, {
  width: 280px !important;
}



