html[lang="ar"] body .font_2.wixui-rich-text__text{
  direction: rtl !important;
}
html[lang="ar"] body .font_7.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .font_8.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .StylableHorizontalMenu3372578893__menu{
 direction: rtl !important;
}
html[lang="ar"] body #SITE_FOOTER .uUxqWY{
  direction: rtl !important;
}
html[lang="ar"] body #comp-lmp975nk .style-mkba0tfn__root .StylableButton2545352419__label{
  direction: rtl !important;
  width: 100%;
}
