html[lang="ar"] body .font_2.wixui-rich-text__text{
  direction: rtl !important;
}
html[lang="ar"] body .font_7.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .font_8.wixui-rich-text__text{
 direction: rtl !important;
}
html[lang="ar"] body .StylableHorizontalMenu3372578893__menu{
 direction: rtl !important;
}
html[lang="ar"] body #SITE_FOOTER .uUxqWY{
  direction: rtl !important;
}
